* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", "Arial", sans-serif; /* Primary font is Poppins with Arial as a fallback */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

camagru-footer {
  width: 100%;
}

camagru-header {
  width: 100%;
}

.carousel-img {
  width: 200px;
}

.captured-img {
  width: 200px;
  display: block;
  margin: 10px auto;
}

.captured-video {
  width: 200px;
  display: block;
  margin: 10px auto;
}

