.carousel-img {
  width: 200px;
}

.captured-img {
  width: 200px;
  display: block;
  margin: 10px auto;
}

.captured-video {
  width: 200px;
  display: block;
  margin: 10px auto;
}

body {
  font-family: "Poppins", "Arial", sans-serif; /* Primary font is Poppins with Arial as a fallback */
  margin: 0 0 100px;
  padding: 0;
  background-color: #f4f4f4;
}
