/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.media-wrapper {
  overflow-y: auto;
  background-color: #e0f7fa;
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.div-wrapper {
  padding-bottom: 10px;
}

.media-container {
  width: 100%;
}

.captured-media {
  width: 100%;
}

.media-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.media-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.comment-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #004d40;
}

.load-more {
  margin-top: 20px;
}

/* Collapsible Section */
input[type="checkbox"] {
  display: none;
}

.wrap-collabsible {
  margin-top: 20px;
  width: 100%;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  color: #ff6f00;
  background-color: #ffe082;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.lbl-toggle:hover {
  background-color: #ffcc80;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg);
}

.collapsible-content {
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.3s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 50vh;
}

.collapsible-content .content-inner {
  background-color: rgba(255, 224, 130, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.comment {
  margin-bottom: 10px;
  overflow-wrap: anywhere;
}

.like-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: flex-end;
}

.like-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.like-count {
  font-size: 18px;
  color: #555;
}

/* Hide Scrollbars */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.load-btn {
  max-width: 100px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #45a049;
  color: white;
  border: none;
}
